body {
    font-family: Arial;
    color: #0e0e0e;
    padding: 50px;
    line-height: 1.5em;
    background-color: #000000;
    background: url(images/bg1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

h1 {
    font-family: 'Press Start 2p', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 100px;
}


h2, h3, h4 {
    font-family: 'Press Start 2p', cursive;
    color: #ffe019;
    text-align: center;
}

h2:hover {
    filter: invert(100%);
}


p {
    color: rgb(232, 232, 232);
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: left;
}

.menuP {
    font-size: 30px;
}

button, p {
    font-family: 'VT323';
}

 .startPlane {
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 
 .startPlane:hover {
    transform: scale(1.1);
    transition: 0.5s;
 }

button { 
    padding: 5px;
    border-color: #ffe019;
    background: black;
    display: block;
    margin: auto;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

div {
    margin: 5px;
}

#gamecontrol, #score {
    animation: changeBg 10s infinite; width:auto;height:auto;
    animation-timing-function: linear;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
}

/* #game {
    animation: changeBg 10s infinite; width:auto;height:auto;
        animation-timing-function: linear;
        background-repeat: no-repeat;
        margin: 0;
    background-color:#353535;
    } */


#game p{
    font-size: 30px;
    color: white;
}
   
a {
    margin-top: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-family: 'VT323';
}

#actions {
    animation: changeBg 10s infinite; width:auto;height:auto;
        animation-timing-function: linear;
        background-repeat: no-repeat;
        margin: 0;
    background-color: rgb(108, 108, 108);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #000000;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#overlay button {
    /* display: inline-block; */
    text-align: center;
    display: inline-block;
}

#overlay {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#overlay p {
    font-size: 20px;
    text-align: center;
}

#actions {
    animation: changeBg 10s infinite; width:auto;height:auto;
    animation-timing-function: linear;
    background-repeat: no-repeat;
    margin: 0;
}

#actions p {
    font-family: 'VT323';
}

#score {
    height: 50px;
    display: flex;
    justify-content: space-around;
    animation: changeBg 10s infinite; width:auto;height:auto;
        animation-timing-function: linear;
        background-repeat: no-repeat;
        margin: 0;
    color: #ffffff;
    text-align: center;
}

#score p {
    font-size: 20px;
}

body { animation: changeBg 10s infinite; width:auto;height:auto;
        animation-timing-function: linear;
        background-repeat: no-repeat;
        margin: 0;
}

.plane {
    display: inline;
    margin-left: 80px;
    margin-right: 80px;
}

img {
    margin-left: 10px;
    margin-right: 10px;
}
/* 
#mainDiv {
    padding: 0;
} */

#overlay2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay2 article {
    box-sizing: border-box;
    background-color: #000000;
    padding: 10px;
    width: 70vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes changeBg{
    0%,100%  {background-image: url(images/bg1.png);}
    25% {background-image: url(images/bg2.png);}
    50% {background-image: url(images/bg1.png);}
    75% {background-image: url(images/bg2.png);}
    }
